body {
  background-repeat: fill;
  background-image: linear-gradient(to bottom, rgb(244, 239, 134), rgb(255, 255, 255), rgb(244, 239, 134));
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.section {
  flex: 0 0 48%;
  margin-bottom: 20px;
}

.section2{
  flex: 0 0 20%;
  margin-right: 2px;
}

.center{
  flex: 0 0 48%;
  margin-left: 400px;

}
.submit-button {
  margin-top: 20px;
}


.setting-section {
  margin-bottom: 30px;
}

.setting-form {
  max-width: 400px;
  margin: auto;
}

.setting-formpago {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




